src/conf/xml-resources/web-service-references/ApproveClientWebService/wsdl/localhost_8080/TestProject/ApproveClientWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.com/">

<xs:element name="insertApproveClient" type="tns:insertApproveClient"/>

<xs:element name="insertApproveClientResponse" type="tns:insertApproveClientResponse"/>

<xs:complexType name="insertApproveClient">
<xs:sequence>
<xs:element name="approveLoanBean" type="tns:approveLoanBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="approveLoanBean">
<xs:sequence>
<xs:element name="approve_id" type="xs:int"/>
<xs:element name="approvedamount" type="xs:double" minOccurs="0"/>
<xs:element name="bankName" type="xs:string" minOccurs="0"/>
<xs:element name="bank_id" type="xs:string" minOccurs="0"/>
<xs:element name="citizen_id" type="xs:string" minOccurs="0"/>
<xs:element name="created" type="xs:string" minOccurs="0"/>
<xs:element name="createdby" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="installlments" type="xs:double" minOccurs="0"/>
<xs:element name="judgment" type="xs:string" minOccurs="0"/>
<xs:element name="loanreq_id" type="xs:int"/>
<xs:element name="loanstatusbank" type="xs:string" minOccurs="0"/>
<xs:element name="loanstatustype" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="timerepayment" type="xs:string" minOccurs="0"/>
<xs:element name="todo" type="xs:string" minOccurs="0"/>
<xs:element name="updateby" type="xs:string" minOccurs="0"/>
<xs:element name="updated" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertApproveClientResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>